* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, blue, red);
}
.card {
  width: 420px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  text-align: center;
}
input{
    padding: 15px;
    border-radius: 2%;
    outline: none;
}
.bt{
    padding: 10px;
    border-radius: 50%;
    outline: none;
    cursor:pointer;
}
.weather img {
  width: 80px;
  margin-top: 20px;
}
