* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background : linear-gradient(to right,blue,red);
}

.card{
    height:800px;
    width:400px;
    background-color: black;
  padding: 20px;
}
